<!DOCTYPE html>
<html lang="en">{% load static %}
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">

	    <title>VIFAC - Expedientes</title>
	    <link href="{% static "css/materialize.css" %}" rel="stylesheet">
	    <link href="{% static "css/dist/css/picedit.css" %}" rel="stylesheet">
	    <link href="{% static "css/dist/sweetalert.css" %}" rel="stylesheet">

	</head>
	<body id="page-top" class="index">
		{% block content %}
		{% endblock content %}
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="{% static "js/materialize.js" %}"></script>
		<script src="{% static "js/picedit.js" %}"></script>
		<script src="{% static "js/sweetalert.min.js" %}"></script>
		<script src="{% static "js/nuevo_expediente.js" %}"></script>

	</body>
</html>