{% extends './base.html' %}
{% load widget_tweaks %}
{% block content %}

<!--div class="fixed-action-btn" style="bottom: 42px; right: 28px;">
    <a id="btn_menu" data-activates="slide-out" class="button-collapse btn-floating btn-large orange">
      <i class="large material-icons">menu</i>
    </a>
    </div-->
<style>
    td, th {
        border: 1px solid #dddddd;
    }
</style>
<div id="barraSesion" class="col s12 m12 l12 z-depth-3">
    <div class="row">
        <div class="col s11 m11 l11 ">
            <h5 class="white-text"><i class="small material-icons white-text"></i>Alam Téllez Villagómez</h5>
        </div>
        <div class="col s1 m1 l1">
            <a class="white-text" href="/logout/"><i class="small material-icons white-text"></i>Salir</a>
        </div>
    </div>
</div>

<div id="titulo" class="z-depth-2">
    <a style="float: left; margin-left: 30px; margin-top: 5px;" id="btn_menu" data-activates="slide-out" class="button-collapse btn-large waves-effect waves-light teal lighten-1 white-text">
    <i class="large material-icons">menu</i>
    </a>
    <h4 style="color: #ffffff; margin-right: 130px;" id="titulo_info">Detalle expediente: {{ file.nombre }}</h4>
</div>

<main>
    <div class="row">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col s3"><a class="white-text " href="#expediente">Expediente</a></li>
                <li class="tab col s3"><a class="white-text " href="#registro">Registros</a></li>
                <li class="tab col s3"><a class="white-text " href="#laboratorios">Laboratorios</a></li>
                <li class="tab col s3"><a class="white-text " href="#ultrasonidos">Ultrasonidos</a></li>
                <li class="tab col s3 "><a class="white-text " href="#problemas">Problemas</a></li>
              </ul>
            </div>

    </div>
    <div class="container">
        <div id="expediente" class="col s12">
            <div class="row">
                <h3>Expediente</h3>
                <div class="row">
                <div class="col s8">
                  <h3>Nombre: {{ file.nombre }}</h3>
                </div>
                <div class="col s4">
                  <h3>Edad: {{ file.edad }}</h3>
                </div>
              </div>
              <div class="row">
                <div class="col s6">
                  <h4>Tipo Sanguíneo: {{ file.tipo_sanguineo }}</h4>
                </div>
                <div class="col s6">
                  <h4>Fecha de Nacimiento: {{ file.fecha_nacimiento }}</h4>
                </div>
                <div class="col s6">
                  <h4>Estado Civil: {{ file.estado_civil }}</h4>
                </div>
                <div class="col s6">
                 <h4>Teléfono: {{ file.telefono }}</h4>
                </div>
                <div class="col s6">
                  <h4>Domicilio: {{ file.domicilio }}</h4>
                </div>
                <div class="col s6">
                  <h4>Edad: {{ file.padre_bebe }}</h4>
                </div>
                <div class="col s6">
                  <h4>Edad del padre: {{ file.edad_padre }}</h4>
                </div>
                <div class="col s6">
                  <h4>Apoyo: {{ file.apoyo }}</h4>
                </div>
                <div class="col s6">
                  <h4>FUM: {{ file.FUM }}</h4>
                </div>
                <div class="col s6">
                  <h4>Ciclos: {{ file.ciclos }}</h4>
                </div>
                <div class="col s6">
                  <h4>Uso de anticonceptivos desde FUM: {{ file.uso_anticonceptivos_FUM }} </h4>
                </div>
                <div class="col s6">
                  <h4>FPP x FUM: {{ file.fppxfum }} </h4>
                </div>
                <div class="col s6">
                  <h4>FPP xUSG: {{ file.fppxusg }}</h4>
                </div>
                <div class="col s6">
                  <h4>FPP Definitiva: {{ file.fpp_definitiva }}</h4>
                </div>
                <div class="col s6">
                  <h4>G: {{ file.G }}</h4>
                </div>
                <div class="col s6">
                  <h4>P: {{ file.P }}</h4>
                </div>
                <div class="col s6">
                  <h4>Termino: {{ file.termino }}</h4>
                </div>
                <div class="col s6">
                  <h4>AB: {{ file.Ab }}</h4>
                </div>
                <div class="col s6">
                  <h4>ECTOP: {{ file.ectop }}</h4>
                </div>
                <div class="col s6">
                  <h4>Múltiples: {{ file.multiples }}</h4>
                </div>
                <div class="col s6">
                  <h4>Cesárea: {{ file.cesarea }}</h4>
                </div>
                <div class="col s6">
                    <h4>Medicamento desde FUM: {{ file.medicamento_desde_fum }}</h4>
                </div>
                <div class="col s6">
                    <h4>Contacto con enfermedad infecciosa desde FUM: {{ file.contacto_con_enfermedad_infecciosa_fum }}</h4>
                </div>
                <div class="col s6">
                    <h4>Embarazos anteriores: {{ file.embarazos_anteriores }}</h4>
                </div>
                <div class="col s6">
                  <h4>APP: {{ file.app }}</h4>
                </div>
                <div class="col s6">
                  <h4>medicamentos: {{ file.medicamentos }}</h4>
                </div>
                <div class="col s6">
                  <h4>Cirugías: {{ file.cirugias }}</h4>
                </div>
                <div class="col s6">
                  <h4>Alergias: {{ file.alergias }}</h4>
                </div>
                <div class="col s6">
                    <h4>APNP FUMA: {{ file.apnp_fuma }}</h4>
                </div>
                <div class="col s6">
                    <h4>Alcohol: {{ file.alcohol }}</h4>
                </div>
                <div class="col s6">
                  <h4>Droga: {{ file.droga }}</h4>
                </div>
                <div class="col s6">
                  <h4>Trabajo: {{ file.trabajo }}</h4>
                </div>
                <div class="col s6">
                  <h4>AHF: {{ file.ahf }}</h4>
                </div>
                <div class="col s6">
                  <h4>AHF Padre: {{ file.ahf_padre }}</h4>
                </div>
              </div>
            </div>
        </div>

        <div id="registro" class="col s12">
            <div class="row">
                <div class="col s12 m12 l12 ">
                {% if registros %}
                    <a href="{% url "medical:add_register" file.id %}" style="float: right;" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                    <h3>Registros</h3>
                     <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                    <table class="striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Fecha</th>
                                <th>SDG</th>
                                <th>TA</th>
                                <th>Peso</th>
                                <th>FU</th>
                                <th>Posic</th>
                                <th>FCF</th>
                                <th>TV</th>
                                <th>Edema</th>
                                <th>MF</th>
                                <th>CTX</th>
                                <th>STV</th>
                                <th>Disuria</th>
                                <th>Flujo</th>
                                <th>Comentarios</th>
                                <th>Editar</th>
                                <th>Eliminar</th>

                            </tr>
                        </thead>
                        <tbody>
                    {% for registro in registros %}
                                <tr>
                                    <td>{{ registro.id }}</td>
                                    <td>{{ registro.date }}</td>
                                    <td>{{ registro.sdg }}</td>
                                    <td>{{ registro.ta }}</td>
                                    <td>{{ registro.weight }}</td>
                                    <td>{{ registro.fu }}</td>
                                    <td>{{ registro.posic }}</td>
                                    <td>{{ registro.fcf }}</td>
                                    <td>{{ registro.tv }}</td>
                                    <td>{{ registro.edema }}</td>
                                    <td>{{ registro.mf }}</td>
                                    <td>{{ registro.ctx }}</td>
                                    <td>{{ registro.stv }}</td>
                                    <td>{{ registro.disuria }}</td>
                                    <td>{{ registro.flujo }}</td>
                                    <td>{{ registro.comentario }}</td>
                                    <td><a href="{% url "medical:edit_register" registro.id %}" ><i class="material-icons">mode_edit</i></a></td>
                                <td><a href="{% url "medical:registro_delete" registro.id %}" onclick="return confirm('¿Estás seguro de querer borrarlo?')" ><i class="material-icons">delete</i></a></td>
                                </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="row">
                        <a href="{% url "medical:add_register" file.id %}" style="float: right;" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                        <<div class="col s4 m6 offset-m3">
                                <h5>No se encontraron registros</h5>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="laboratorios" class="col s12">
            <div class="row">
            <div class="col s12 m12 l12 ">
            {% if labs %}
                <a href="{% url "medical:add_lab" file.id %}" style="float: right;" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                <h3>Laboratorios</h3>
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Resultado</th>
                            <th>Editar</th>
                            <th>Borrar</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for lab in labs %}
                            <tr>
                                <td>{{ lab.date }}</td>
                                <td>{{ lab.result }}</td>
                                <td><a href="{% url "medical:edit_lab" lab.id %}" ><i class="material-icons">mode_edit</i></a></td>
                                <td><a href="{% url "medical:lab_delete" lab.id %}" onclick="return confirm('¿Estás seguro de querer borrarlo?')" ><i class="material-icons">delete</i></a></td>
                            </tr>
                {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="row">
                    <a href="{% url "medical:add_lab" file.id %}" style="float: right;" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                    <<div class="col s4 m6 offset-m3">
                            <h5>No se encontraron laboratorios</h5>
                    </div>
                </div>
            {% endif %}
            </div>
            </div>
        </div>

        <div id="ultrasonidos" class="col s12">
            <div class="row">

            <div class="col s12 m12 l12 ">
            {% if us %}
                <a href="{% url "medical:add_us" file.id %}" style="float: right;" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                <h3>Ultrasonidos</h3>
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Resultado</th>
                            <th>Editar</th>
                            <th>Borrar</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for u in us %}
                            <tr>
                                <td>{{ u.date }}</td>
                                <td>{{ u.result }}</td>
                                <td><a href="{% url "medical:edit_us" u.id %}" ><i class="material-icons">mode_edit</i></a></td>
                                <td><a href="{% url "medical:us_delete" u.id %}" onclick="return confirm('¿Estás seguro de querer borrarlo?')" ><i class="material-icons">delete</i></a></td>
                            </tr>
                {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="row">
                    <a href="{% url "medical:add_us" file.id %}" style="float: right;" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                    <<div class="col s4 m6 offset-m3">
                            <h5>No se encontraron ultrasonidos</h5>
                    </div>
                </div>
            {% endif %}
            </div>
            </div>
        </div>

        <div id="problemas" class="col s12">
            <div class="row">
            <div class="col s12 m12 l12 ">
            {% if problemas %}
                <a href="{% url "medical:add_problem" file.id %}" style="float: right;" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                <h3>Problemas</h3>
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Medicamento</th>
                            <th>Editar</th>
                            <th>Borrar</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for problema in problemas %}
                            <tr>
                                <td>{{ problema.descripcion }}</td>
                                <td>{{ problema.medicamento }}</td>
                                <td><a href="{% url "medical:edit_problem" problema.id %}" ><i class="material-icons">mode_edit</i></a></td>
                                <td><a href="{% url "medical:problem_delete" problema.id %}" onclick="return confirm('¿Estás seguro de querer borrarlo?')" ><i class="material-icons">delete</i></a></td>
                            </tr>
                {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="row">
                    <a href="{% url "medical:add_problem" file.id %}" style="float: right;" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                    <<div class="col s4 m6 offset-m3">
                            <h5>No se encontraron datos</h5>
                    </div>
                </div>
            {% endif %}
            </div>
            </div>
        </div>




    </div>
</main>


<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2016 VIFAC
            <a class="grey-text text-lighten-4 right" href="#!"></a>
        </div>
    </div>
</footer>
<div class="hiddendiv common"></div>
<div class="drag-target" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); left: 0px;">
</div>

{% endblock content %}