{% extends './base.html' %}
{% load widget_tweaks %}
{% block content %}

<!--div class="fixed-action-btn" style="bottom: 42px; right: 28px;">
    <a id="btn_menu" data-activates="slide-out" class="button-collapse btn-floating btn-large orange">
      <i class="large material-icons">menu</i>
    </a>
    </div-->

<div id="titulo" class="z-depth-2">
    <a style="float: left; margin-left: 30px; margin-top: 5px;" id="btn_menu" data-activates="slide-out" class="button-collapse btn-large waves-effect waves-light teal lighten-1 white-text">
    <i class="large material-icons">menu</i>
    </a>
    <h4 style="color: #ffffff; margin-right: 130px;" id="titulo_info">Agregar Registro</h4>
</div>

<main>
    <div class="container">
        <div class="row">
          <form method="post" action="" class="col s12">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn waves-effect waves-light" type="submit" name="submit" id="submit">Guardar y continuar
            <i class="material-icons right"></i>
          </button>
        </form>

      </div>
</div>
</main>


<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2016 VIFAC
            <a class="grey-text text-lighten-4 right" href="#!"></a>
        </div>
    </div>
</footer>
<div class="hiddendiv common"></div>
<div class="drag-target" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); left: 0px;">
</div>

{% endblock content %}