{% extends 'base/layout.html' %}
{% block content %}

<div id="titulo" class="z-depth-2">
    <a style="float: left; margin-left: 30px; margin-top: 5px;" id="btn_menu" data-activates="slide-out" class="button-collapse btn-large waves-effect waves-light teal lighten-1 white-text">
    <i class="large material-icons">menu</i>
    </a>
    <h4 style="color: #ffffff; margin-right: 130px;" id="titulo_info">Nueva rifa</h4>
</div>

    <section id="panfleta">
        {% if panfleta %}
                        <ul class="messagelist">
                            <li class="list-group-item list-group-item-success">La panfleta "<a href="{% url 'raffles:raffle_detail' panfleta.id %}">{{ panfleta.folio }}</a>" fue agregada satisfactoriamente. Puedes agregar más abajo.</li>
                        </ul>
        {% endif %}
    <div class="container">
    <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Agregar nueva panfleta</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="participant" value="{{ participant }}">
                        {% include 'raffles/form_template.html' %}
                            <div class="row">
                                <button type="submit" name="_addother" class="btn btn-primary">Guarda y agregar una nueva</button>
                                <button type="submit" name="_save" class="btn btn-success">Guardar y volver</button>
                            </div>
                    </form>
                </div>
    </div>
    </div>
    </section>
{% endblock content %}
