<!DOCTYPE html>
<html lang="en" xmlns:donations="http://www.w3.org/1999/xhtml">{% load static %}
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">

	    <title>VIFAC - Donaciones</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" href="{% static "css/reset.css" %}"> <!-- CSS reset -->
		<link rel="stylesheet" href="{% static "css/style.css" %}"> <!-- Resource style -->
		<script src="{% static "js/modernizr.js" %}"></script>

	    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
	    <link href="{% static "css/freelancer.css" %}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>

	    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
	    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

	    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9] -->
	        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->

	</head>
	<body id="page-top" class="index">
        <!-- Navigation -->
            <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                        </button>
                        <img src="../../../static/img/logo.png" width="40%">
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="hidden">
                                <a href="#page-top"></a>
                            </li>
                            <li class="page-scroll">
                                <a href="{% url "donations:list_donors" %}">Donadores</a>
                            </li>
                            <li class="page-scroll">
                                <a href="{% url "donations:list_donations" %}">Donaciones</a>
                            </li>
                            <li class="page-scroll">
                                <a href="{% url "donations:list_categories" %}">Categorías</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>
            <!-- Header -->
		{% block content %}

		{% endblock content %}

		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/bootstrap.min.js" %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<script src="{% static "js/jqBootstrapValidation.js" %}"></script>
		<script src="{% static "js/contact_me.js" %}"></script>
		<script src="{% static "js/freelancer.min.js" %}"></script>
	</body>
</html>
