{% extends 'base/layout.html' %}
{% load widget_tweaks %}
{% block content %}

<!--div class="fixed-action-btn" style="bottom: 42px; right: 28px;">
    <a id="btn_menu" data-activates="slide-out" class="button-collapse btn-floating btn-large orange">
      <i class="large material-icons">menu</i>
    </a>
    </div-->

<div id="titulo" class="z-depth-2">
    <a style="float: left; margin-left: 30px; margin-top: 5px;" id="btn_menu" data-activates="slide-out" class="button-collapse btn-large waves-effect waves-light teal lighten-1 white-text">
    <i class="large material-icons">menu</i>
    </a>
    <h4 style="color: #ffffff; margin-right: 130px;" id="titulo_info">Lista de expedientes</h4>
</div>

<main>
    <div class="container">
     <table style="margin-top: 3%" class="table table-striped">
              <thead class="thead-default">
                <tr>
                  <th>id</th>
                  <th>Nombre</th>
                  <th>Apellido Paterno</th>
                  <th>Apellido Materno</th>
                  <th>Fecha de nacimiento</th>
                  <th>Ver detalles</th>
                  <th>Editar</th>
                  <th>Eliminar</th>
                  <th>Subir archivo</th>
                  <th>Listar archivos</th>
                  <th>Exportar a Excel</th>
                </tr>
              </thead>
              <tbody>

              {% for record in records %}
                <tr>
                  <td>{{ record.id }}</td>
                  <td>{{ record.nombre }}</td>
                  <td>{{ record.apellido_paterno }}</td>
                  <td>{{ record.apellido_materno }}</td>
                  <td>{{ record.fecha_nacimiento }}</td>
                  <td>
                      <a href="{% url "records:record_detail" record.id %}" class="btn btn-info btn-lg"><i class="large material-icons">info_outline</i></a>
                  </td>
                  <td>
                      <a href="{% url "records:record_update" record.id %}" class="btn btn-info btn-lg"><i class="large material-icons">mode_edit</i></a>
                  </td>
                  <td>
                      <a href="{% url "records:record_delete" record.id %}" class="btn btn-info btn-lg"><i class="large material-icons">warning</i></a>
                  </td>
                  <td>
                      <a href="{% url "records:upload_document" record.id %}" class="btn btn-info btn-lg"><i class="large material-icons">present_to_all</i></a>
                  </td>
                  <td>
                      <a href="{% url "records:list_documents" record.id %}" class="btn btn-info btn-lg"><i class="large material-icons">reorder</i></a>
                  </td>
                  <td>
                      <a href="records:export_records_csv" class="btn btn-info btn-lg"><i class="large material-icons">equalizer</i></a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>

</div>
</main>


<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2016 VIFAC
            <a class="grey-text text-lighten-4 right" href="#!"></a>
        </div>
    </div>
</footer>
<div class="hiddendiv common"></div>
<div class="drag-target" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); left: 0px;">
</div>

{% endblock content %}
