{% extends 'base/layout.html' %}
{% load widget_tweaks %}
{% block content %}


<div id="titulo" class="z-depth-2">
    <a style="float: left; margin-left: 30px; margin-top: 5px;" id="btn_menu" data-activates="slide-out" class="button-collapse btn-large waves-effect waves-light teal lighten-1 white-text">
    <i class="large material-icons">menu</i>
    </a>
    <h4 style="color: #ffffff; margin-right: 130px;" id="titulo_info">Lista de donadores</h4>
</div>
    <!-- Contact Section -->
    <section id="donaciones" xmlns:donations="http://www.w3.org/1999/xhtml">
        <div class="container">
            <div class="row">
                <div class="col l12">
                    <h2>Donadores</h2>
                    <hr class="star-primary">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <form class="col m8" action="/donaciones/nuevo_donador">
                    <button type="submit" class="btn btn-info">Nuevo Donador</button>
                </form>
            </div>
            
            <table style="margin-top: 3%" class="table table-striped">
              <thead class="thead-default">
                <tr>
                  <th>Nombre</th>
                  <th>Fecha de Integración</th>
                  <th>Locación</th>
                  <th>Dirección</th>
                  <th>Referencia</th>
                  <th>Editar</th>
                  <th>Eliminar</th>
                </tr>
              </thead>
              <tbody>
    
              {% for donor in donors %}
                <tr>
                  <td>{{ donor.full_name }}</td>
                  <td>{{ donor.integration_date }}</td>
                  <td>{{ donor.city }}, {{ donor.state }}</td>
                  <td>{{ donor.street }} {{ donor.number }}</td>
                  <td>{{ donor.reference }}</td>
                  <td>
                      <a href="{% url "donations:donor_update" donor.id %}" class="btn btn-info btn-lg"><i class="large material-icons">mode_edit</i>   </a>
                  </td>
                  <td>
                      <a href="{% url "donations:donor_delete" donor.id %}" class="btn btn-info btn-lg" onclick="return confirm('¿Estás segura de querer eliminar esto?');"><i class="large material-icons">warning</i></a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
    </section>

{% endblock content %}
